/* Reset all default browser gaps */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full height */
html, body, #root {
  height: 100%;
}

/* Global layout for ALL pages */
.app-layout {
  min-height: 100vh;
  background-color: #7FFFD4;   /* aqua blue */
  width: 100%;
  display: block;
 
  text-align: center;
  margin-top: 30px;
  font-style: italic;
  font-family:'Times New Roman', Times, serif;
}